<footer>
	<div class="container container-fluid">
		<div class="row-fluid">
			<div id="team" class="span6">
				<h3 class='green'>Meet the team</h3>
				<p>
					Find out more about the <a href="{{ pcurl('meet-the-team') }}">Tupis</a>
					behind TupiLabs
				</p>
			</div>
			<div class="span3">
				<h3 class='yellow'>Resources</h3>
				<div class="menu-footer-navigation-container">
					<ul id="menu-footer-navigation" class="nav">
						<li class="menu-about"><a href="{{site.base_url}}about">About</a></li>
						<li class="menu-contact"><a href="{{site.base_url}}contact">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="span3">
				<h3 class='blue'>Follow us</h3>
				<ul>
					<li><a href="https://github.com/tupilabs"
						alt="TupiLabs GitHub" title="TupiLabs GitHub">GitHub</a></li>
					<li><a href="https://www.twitter.com/tupilabs"
						alt="TupiLabs Twitter" title="TupiLabs Twitter">Twitter</a></li>
					<li><a
						href="https://www.facebook.com/pages/TupiLabs/367986299948160"
						title="TupiLabs Facebook page">Facebook</a></li>
					<li><a href="http://www.youtube.com/user/TupiLabs"
						alt="TupiLabs Youtube channel" title="TupiLabs Youtube channel">Youtube</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
