<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <title>{{ site.title }}{% if page.title %} &mdash; {{ page.title }}{% endif %}</title>
  <meta name="description" content="">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  
  <link rel="stylesheet" type="text/css" href="{{ site.root }}semantic.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.root }}{{ site.css }}">
</head>
<body>
  <!-- Following Menu -->
  <div class="ui large top fixed menu">
    <div class="ui container">
      <a class="item" href="{{ site.root }}"><i class="home icon"></i> Home</a>
      <a class="item" href="{{ site.root }}work"><i class="terminal icon"></i> Work</a>
      <a class="item" href="{{ site.root }}tutorials"><i class="book icon"></i> Tutorials</a>
      <a class="item" href="{{ site.root }}blog"><i class="newspaper icon"></i> Blog</a>
      <a class="item" href="{{ site.root }}courses"><i class="student icon"></i> Courses</a>
      <a class="item" href="{{ site.root }}lab"><i class="lab icon"></i> Lab</a>
      <div class="right menu">
        <a class="item" href="{{ site.root }}contact"><i class="mail outline icon"></i> Contact</a>
      </div>
    </div>
  </div>
  
  <!-- Page Contents -->
  <div class="pusher">
    {% include 'menu.html' %}
    
    {% block main %}
    {{ content|safe }}
    {% endblock %}
    
    {% include 'footer.html' %}
    </div>
    <script src="{{ site.root }}jquery.min.js"></script>
    <script src="{{ site.root }}semantic.min.js"></script>
    <script src="{{ site.root }}site.js"></script>{{ piecrust.debug_info|safe }}
  </body>
  </html>
